[Unit]
Description=Runs smartedge-iiot-gateway RST Button functions, disable for unwanted resets.

[Service]
Type=forking
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/button   


[Install]
WantedBy=default.target
