[Unit]
Description=Runs smartedge-iiot-gateway RST Button functions, disable for unwanted resets.

[Service]
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/button
Restart=always
RestartSec=60


[Install]
WantedBy=default.target
