[Unit]
Description=Runs the smartedge-iiot-gateway python IOTCONNECT SDK example

[Service]
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/startup
Restart=always
RestartSec=60

[Install]
WantedBy=default.target

