[Unit]
Description=Runs smartedge-iiot-gateway Top LED.

[Service]
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/led   
ExecStop=/usr/bin/sudo echo 0 >/sys/class/leds/green/brightness
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
