[Unit]
Description=Establishes cellular connectivity

[Service]
ExecStart=/usr/bin/sudo /opt/avnet-iot/services/quectel-service.sh
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
