[Unit]
Description=Runs smartedge-iiot-gateway REST API only enable for factory default.

[Service]
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/rest
Restart=always
RestartSec=60


[Install]
WantedBy=default.target
