[Unit]
Description=Controls ATTINY flash update 

[Service]
Type=simple
ExecStart=/usr/bin/sudo /opt/avnet-iot/iotservices/attiny_flash

[Install]
WantedBy=default.target
